<html>
    
<style>
p {text-align: center;}
</style>

<body style="background-color:powderblue;">
        <div style="border:2px solid rgb(0, 0, 0);margin-left:auto;margin-right:auto;background-color: rgb(255, 255, 255);">
        <b>
        <p style=text-align:center> Please choose an action:
        </b>
        <br>
        <a href="//localhost:8080/admin/showAllReaders">Show all readers</a>
        <br>
        <a href="//localhost:8080/admin/showAllBooks">Show all books</a>
        <br>
        <a href="//localhost:8080/admin/readerByUsername">Show all readers by username</a>
        <br>
        <a href="//localhost:8080/admin/registerReader">Register a new reader</a>
        <br>
        <a href="//localhost:8080/admin/showAllAuthors">Show all authors</a>
        <br>
        <a href="//localhost:8080/admin/registerAdmin">Register a new admin</a>
        <br>
        </p>
        </div>

        <form action="//localhost:8080/home" class="inline">
                <button class="float-left submit-button" >Log out</button>
            </form>
</body>
</html>