<html xmlns:th="http://www.thymeleaf.org"
style="background-color:powderblue;">
<form action="#" th:action="@{/admin/addNewAuthor}" th:object="${author}"
method="post">

<body style="background-color:powderblue;"></body>
<table style="border:2px solid rgb(0, 0, 0);margin-left:auto;margin-right:auto;background-color: rgb(255, 255, 255);">

    <tr>
        <td>Author main Genre</td>
        <div style="text-align:center">
        <select name = "type">
            <option th:each="genre : ${type}" th:text="${genre.toString()}"></option>
             </div>
        </tr>
   

<tr>
<td>Author Name</td>
<td> <input type="text" th:field="*{name}"> </td>
<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
</tr>

<tr>
<td>Author Surname</td>
<td><input type="text" th:field="*{surname}"> </td>
<td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></td>
</tr>

<tr>
<td>Date of Birth</td>
<td><input type="text" th:field="*{dateOfBirth}"></td>
<td th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></td>
</tr>

<tr>
<td>Country of origin</td>
<td><input type="text" th:field="*{countryOfOrigin}"></td>
<td th:if="${#fields.hasErrors('countryOfOrigin')}" th:errors="*{countryOfOrigin}"></td>
</tr>

<tr>
<td>Short backstory</td>
<td><input type="text" th:field="*{shortBackground}"></td>
<td th:if="${#fields.hasErrors('shortBackground')}" th:errors="*{shortBackground}"></td>
</tr>

<tr>
<td>LiteratureStyle</td>
<td><input type="text" th:field="*{literatureStyle}"></td>
<td th:if="${#fields.hasErrors('literatureStyle')}" th:errors="*{literatureStyle}"></td>
</tr>


</table>
<div style="text-align:center">
<input type="submit">
</div>
</form>



</body>

</html>