<html xmlns:th="http://www.thymeleaf.org"
style="background-color:powderblue;">
<form action="#" th:action="@{/admin/addNewBook}" th:object="${book}"
method="post">

<body style="background-color:powderblue;"></body>
<table style="border:2px solid rgb(0, 0, 0);margin-left:auto;margin-right:auto;background-color: rgb(255, 255, 255);">
        
        <tr>
                <td>Book genre</td>
                <td> <input type="text" th:field="*{genre}"> </td>
                <td th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></td>
                </tr>
        
        <tr>
                <td>ISBN Number</td>
                <td> <input type="text" th:field="*{isbn}"> </td>
                <td th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></td>
        </tr>
        
        <tr>
                <td>Title</td>
                <td><input type="text" th:field="*{title}"> </td>
                <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></td>
        </tr>
                
        <tr>
                <td>Publish date</td>
                <td><input type="text" th:field="*{publishDate}"></td>
                <td th:if="${#fields.hasErrors('publishDate')}" th:errors="*{publishDate}"></td>
        </tr>
</table>
<div style="text-align:center">
        <input type="submit">
</div>
</form>
        

</body>

</html>

