<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
style="background-color:powderblue;">
<body >
<form action="#"th:action="@{/reader/booksByTitle}" th:object="${book}" method="post">
	<table style="border:2px solid rgb(0, 0, 0);margin-left:auto;margin-right:auto;background-color: rgb(255, 255, 255);">
	<b>
	<p style=text-align:center> Please write the title:
	</b>
	</p> 
	<tr>
	<td><input type="text" th:field="*{title}"> </td>
	<td th:if="${#fields.hasErrors('title')}"> The title is not right </td>	
	</tr>
	</table>
	<div style="text-align:center">
		<input type="submit">
		</div>
	</form>
	<button onclick="goBack()">Go Back</button>
	<script>
	function goBack() {
	  window.history.back();
	}
	</script>
</body>
</html>
