<html>
    
<style>
p {text-align: center;}
</style>

<body style="background-color:powderblue;">
        <div style="border:2px solid rgb(0, 0, 0);margin-left:auto;margin-right:auto;background-color: rgb(255, 255, 255);">
        <b>
        <p style=text-align:center> Please choose an action:
        </b>       
        <br>
        <a href="//localhost:8080/reader/booksByTitle">Search for books by title</a>
        <br>
        <a href="//localhost:8080/reader/showAllBooksByCondition">Show all books by condition</a>
        <br>
        <a href="//localhost:8080/reader/showAllBooksByGenre">Show all books by genre</a>
        <br>
        <a href="//localhost:8080/reader/showAllAuthors">Show all authors</a>
        <br>
        <a href="//localhost:8080/reader/showMyTakenBooks">Show all authors</a>
        </p>
        </div>
        <form action="//localhost:8080/home" class="inline">
                <button class="float-left submit-button" >Log out</button>
            </form>
</body>
</html>